// colors
$primary-color: #5e616c;
$secondary-color: #b9d1dd;
$white: white;
$grey-color: #dbdcde;
$tag-color: #aeb4bc;
$tag-hover-color: #91969d;
$orange-color: #f99e3c;
$orange-hover-color: #dc8b34;
$input-message-color: #5f6a77;
$form-button-color: #b1cbd9;
$form-button-hover-color: #a3bbc7;
$border-color: #f3f3f3;

// font sizes
$font-size-sm: 10px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;
